* {
  box-sizing: border-box;
  /* font-family: 'Karla', sans-serif; */
  font-family:  'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 14px;
}

body, html, #root, .main {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background: #FA993E;

  
}
.main {
  text-align: center;
}

/* --------------------------- */
.main {
  display: flex;
  flex-direction: column;
  align-items: center;
 
}
.my-canvas {
  

  border: 1px solid #000;
  background: #000;
  position: relative;
}
.wrapper {
 /*  min-width: 272px;
  min-height: 272px;
  max-width: 630px;
  max-height: 630px; */
 
}
.start-btn {
  cursor: pointer;
  width: 20px; 
  height: 20px;
  margin: 2px;
  background: transparent;
  border: 1px ridge #000;
  display: flex;
  align-items: center;
  justify-content: center;
}
.start-btn:hover, .start-select:hover {
  box-shadow: inset 0px 0px 6px 2px #000;
  transition-timing-function: ease;
  transition-duration: 0.3s;
  transition-property: all;
}
.start-btn:focus, .start-select:focus {
  box-shadow: 0px 0px 6px 2px #000;
  transition-timing-function: ease;
  transition-duration: 0.3s;
  transition-property: all;
} 
.start-select {
  border: 1px solid #000;
  background: transparent;
  height: 18px;
  margin: 2px;
}
.back-red {
  background: rgba(238, 52, 6, 0.9);
  padding-bottom: 4px;
}
.dot-toolbar {
  gap: 2px;
  display: inline-flex;
  align-items: center;
  justify-content: end;
  height: 30px;
  /* width: calc(100% + 30px); */
  width: 100%;
}

.tri-params-wrapper {
  display: flex;
  flex-direction: row;
}
.tri-slider {
  display: flex;
  flex-direction: column;
  width: 30px;
  align-items: center;
}
.footer {
  display: flex;
  align-items: center;
  justify-content: flex-end;  
}


/*************** sliders ***************/
.start-range-vertical {
  appearance: slider-vertical;
  accent-color: black;

}
.start-range {
  accent-color: black;
}

.help {
  background: #68c283;
}
.help-content {
  
}
.txt12 {
  font-size: 12px;
  font-weight: 400;
}
